# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#Files
Membership.matrix
Main
WineDataSet

#Others
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.DS_Store
.DS_Store?